<h1>Últimos pedidos</h1>
<mat-card class="card-ultimos-pedidos">
  <mat-card-header>
    <mat-card-title>MC Donalds</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/mcdonalds.png" alt="MC Donalds">
  <mat-card-content>
    <mat-list>
      <mat-list-item>5 - Duplo Quarterão</mat-list-item>
      <mat-list-item>5 - McFritas Pequena</mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Pedir Novamente</button>
    <button mat-button>Avaliar</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-ultimos-pedidos">
  <mat-card-header>
    <mat-card-title>Burger King</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/burgerking.png" alt="MC Donalds">
  <mat-card-content>
    <mat-list>
      <mat-list-item>3 - Whopper® Crispy & Cheese</mat-list-item>
      <mat-list-item>2 - BK® Mix Sonho de Valsa</mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Pedir Novamente</button>
    <button mat-button>Avaliar</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-ultimos-pedidos">
  <mat-card-header>
    <mat-card-title>Pizza Hut</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/pizzahut.png" alt="MC Donalds">
  <mat-card-content>
    <mat-list>
      <mat-list-item>1 - Pizza Estilo Nova York Calabresa - Grande</mat-list-item>
      <mat-list-item>1 - Coca-cola 2l</mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Pedir Novamente</button>
    <button mat-button>Avaliar</button>
  </mat-card-actions>
</mat-card>
